/*header*/
header {
    background: #201f2b;
    color: #fff;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 70px;
}
.ToggleMenu {
    display: flex;
    transition: width .3s;
}
.ToggleMenu.L {
    width: 255px;
    justify-content: flex-end;
}
.ToggleMenu.S {
    width: 70px;
    justify-content: center;
}
.ToggleMenu a {
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 10px;
}
.ToggleMenu.S a {
    margin-right: 0;
}
.BodyView {
    height: 100vh;
}
.BodyView .BodyWrapper {
    padding-top: 70px;
    display: flex;
    height: 100vh;
}
.BodyWrapper .MainWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}
/*ToggleMenuAnimation*/
.nav-icon{
    width: 26px;
    height: 18px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.nav-icon span{
    background-color: #868aa8;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 1px;
}
.nav-icon span:nth-child(1){
    top: 0;
    left: 0;
}
.nav-icon span:nth-child(2){
    top: 8px;
    left: 0;
}
.nav-icon span:nth-child(3){
    bottom: 0;
    left: 0;
}
.nav-icon:not(.active):hover span:nth-child(1){
    transform: scaleX(.8);
}
.nav-icon:not(.active):hover span:nth-child(2){
    transform: scaleX(.5);
}
.nav-icon:not(.active):hover span:nth-child(3){
    transform: scaleX(.8);
}
.nav-icon.active span:nth-child(1){
    transform: rotate(90deg);
    top: 10px;
}
.nav-icon.active span:nth-child(2){
    transform: scale(0);
    transition-duration: 50ms
}
.nav-icon.active span:nth-child(3){
    top: 10px;
}

/*nav*/
.Navi {
    flex: 1;
    font-size: 1rem;
}

/*Menu*/
.BodyWrapper .Menu {
    background: #282733;
    width: 70px;
    padding: 30px 0;
    transition: width .3s;
}
.BodyWrapper .Menu a {
    color: #868aa8;
    font-size: 1rem;
    padding: .8rem 1rem;
    width: 70px;
    text-align: center;
    transition: width .3s;
}
.BodyWrapper .Menu .active {
    background: #db1430;
    color: #fff;
    position: relative;
}
.BodyWrapper .Menu .active:before {
    right: 0;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #eee;
    border-width: 22px 10px 22px 0;
    margin-top: -20px;
}
.BodyWrapper .Menu a span {
    display: none;
}
.BodyWrapper .Menu.active {
    width: 255px;
}
.BodyWrapper .Menu.active a {
    width: 255px;
    text-align: left;
    font-size: 1rem;
}
.BodyWrapper .Menu.active a span {
    display: inline-block;
}

/*Main*/
.BodyWrapper .Main {
    background: #eee;
    flex: 1;
    overflow-y: scroll;
    height: 100%;
}

/*Content*/
.ContentWrapper {
    background: #fff;
    -webkit-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
    display: flex;
    flex-direction: column;
}
.ContentWrapper .Title {
    border-bottom: 1px solid #eee;
    padding: 1.5rem 1.5rem 1rem;
    display: flex;
    align-items: center;
    width: 100%;
}
.ContentWrapper .Title h3 {
    font-size: 1.2rem;
    font-weight: initial;
    flex: 1;
    margin-bottom: 0;
}
.ContentWrapper .Title .LinkTitle {
    color: #212529;
    font-size: 1.2rem;
    margin-bottom: 0;
}
.ContentWrapper .Title .btn {
    background-color: #2eb8b8;
    border-radius: 0;
    color: #fff;
    transition: background-color .2s;
}
.ContentWrapper .Title .btn:hover {
    color: #fff;
    filter: brightness(105%);
}
.ContentWrapper .Content {
    width: 100%;
    padding: 1.5rem;
}
.ContentWrapper .Content h6 {
    font-size: 1.2rem;
    font-weight: initial;
}
.ContentWrapper .Content .SearchTool {
    width: 100%;
}
.ContentWrapper .Content .SearchTool .SearchToolTitle {
    font-size: 1rem;
    margin-bottom: .5rem;
    color: #999;
}
.ContentWrapper .Content table {
    font-size: .85rem;
}

/*Dashboard*/
.DashWrapper {
    display: flex;
    width: 100%;
    padding-top: 1rem;
    flex-wrap: wrap;
}
.DashWrapper .DashList {
    background: #fff;
    -webkit-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
    display: flex;
    flex: 1;
    position: relative;
    padding: 3rem 1.5rem 1.5rem;
    margin-bottom: 2.5rem;
    transition: .3s;
}
.DashWrapper .DashList:hover {
    -webkit-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .35);
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .35);
}
.DashWrapper .DashList .Title {
    position: absolute;
    top: -1rem;
    left: 1rem;
    font-size: 1rem;
    padding: .65rem 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}
.DashWrapper .DashList .Content {
    display: flex;
    flex: 1;
}
.DashWrapper .DashList .Content ul {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.DashWrapper .DashList .Content ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*Dashboard News*/
.DashWrapper .DashList.News {
    flex: 0 0 100%;
}
.DashWrapper .DashList .Content .NewsList .NewsTitle,
.DashWrapper .DashList .Content .NewsList .Date {
    margin-bottom: .5rem;
}
.DashWrapper .DashList .Content .NewsList .Date {
    color: #d20b2a;
    font-size: .85rem;
}
.DashWrapper .DashList .Content .NewsList .NewsTitle {
    color: #5867dd;
    font-size: 1rem;
}
.DashWrapper .DashList .Content .NewsList .NewsContent {
    font-size: 1rem;
    color: #666;
}
/*Dashboard Amount*/
.DashWrapper .DashList.Amount {
    margin-right: 2.5rem;
}
.DashWrapper .DashList .Content .CountList li {
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px dashed #999;
}
.DashWrapper .DashList .Content .CountList li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.DashWrapper .DashList .Content .CountList .CountTitle {
    font-size: 1rem;
    color: #888;
}
.DashWrapper .DashList .Content .CountList .Number {
    font-size: 1.5rem;
    color: #26adff;
}