@charset "UTF-8";


@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}
@media (max-width: 768px) {
    /*common*/
    *::-webkit-scrollbar-track,
    * *::-webkit-scrollbar-track {
        -webkit-box-shadow: initial;
        border-radius: initial;
        background-color: initial;
    }
    *::-webkit-scrollbar,
    * *::-webkit-scrollbar {
        width: 1px;
        height: 1px;
        background-color: initial;
    }
    *::-webkit-scrollbar-thumb,
    * *::-webkit-scrollbar-thumb {
        border-radius: initial;
        -webkit-box-shadow: initial;
        background-color: initial;
    }
}
@media (max-width: 320px) {
}