<!--客戶管理-->
<div id="ManagerPage" class="container">
    <div class="row no-gutters mb-4 ContentWrapper">
        <div class="Title">
            <h3>客戶管理</h3>
            <a class="btn AddItem" data-toggle="modal" data-target="#AddItem">
                <i class="fas fa-plus"></i>
                <span>新增帳號</span>
            </a>
        </div>
        <div class="Content">
            <div class="d-inline-flex align-items-center flex-wrap SearchTool mb-2">
                <div class="d-flex flex-column mr-3 mb-3">
                    <h6 class="SearchToolTitle">日期區間</h6>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-secondary" ng-click="SelectTimeArea('Today')" ng-class="{true: 'active'}[DateZoom == 'Today']">今日</button>
                        <button type="button" class="btn btn-outline-secondary" ng-click="SelectTimeArea('Week')" ng-class="{true: 'active'}[DateZoom == 'Week']">本周</button>
                        <button type="button" class="btn btn-outline-secondary" ng-click="SelectTimeArea('PrevWeek')" ng-class="{true: 'active'}[DateZoom == 'PrevWeek']">上周</button>
                        <button type="button" class="btn btn-outline-secondary" ng-click="SelectTimeArea('Month')" ng-class="{true: 'active'}[DateZoom == 'Month']">本月</button>
                        <button type="button" class="btn btn-outline-secondary" ng-click="SelectTimeArea('PrevMonth')" ng-class="{true: 'active'}[DateZoom == 'PrevMonth']">上月</button>
                    </div>
                </div>
                <div class="d-flex flex-column mr-3 mb-3">
                    <h6 class="SearchToolTitle">帳號搜尋</h6>
                    <input type="text" class="form-control" placeholder="帳號搜尋">
                </div>
                <div class="d-flex flex-column mr-3 mb-3">
                    <h6 class="SearchToolTitle">新增時間</h6>
                    <div class="d-inline-flex align-items-center flex-wrap">
                        <input type="date" class="form-control mb-3 mb-sm-0" placeholder="起始時間">
                        <input type="date" class="form-control" placeholder="結束時間">
                    </div>
                </div>
            </div>
            <div class="d-inline-flex align-items-center flex-wrap SearchTool">
                <a href="javascript:void(0);" class="d-inline-flex align-items-center mr-3 btn btn-search">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg>
                    查詢
                </a>
                <a href="javascript:void(0);" class="d-inline-flex align-items-center mr-3 btn btn-outline-secondary">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg>
                    重設
                </a>
                <a href="javascript:void(0);" class="d-inline-flex align-items-center mr-3 btn btn-outline-danger">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-arrow-down-fill mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
                    </svg>
                    導出報表
                </a>
            </div>
        </div>
    </div>
    <div ng-show="Data.length > 0" class="row no-gutters ContentWrapper">
        <div class="Content">
            <h6 class="mb-3">查詢結果</h6>
            <table class="table table-striped table-hover RwdTable">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>帳號</th>
                    <th>名稱</th>
                    <th>錢包</th>
                    <th>狀態</th>
                    <th>創建時間</th>
                    <th>更新時間</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, value) in ShowData">
                    <td data-label="No." ng-bind="key+1+'.'"></td>
                    <td data-label="帳號" ng-bind="Data[value].account"></td>
                    <td data-label="名稱" ng-bind="Data[value].name"></td>
                    <td data-label="錢包" ng-bind="Data[value].balance | currency"></td>
                    <td data-label="狀態">
                        <a data-toggle="tooltip" data-placement="bottom" title="啟用中" tool-Tip>
                            <i class="fas" ng-class="{'Y': 'fa-user-check text-success', 'N': 'fa-user-times text-black-50'}[Data[value].status]"></i>
                        </a>
                    </td>
                    <td data-label="創建時間" ng-bind="Data[value].registered_date">2020-07-04 04:55:37</td>
                    <td data-label="更新時間" ng-bind="Data[value].update">2020-07-04 04:55:37</td>
                    <td data-label="操作">
                        <a class="btn btn-icon" ng-click="ShowModifyData(Data[value])">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav ng-if="Pager.pages.length" aria-label="Page navigation example">
                <ul class="mb-0 pagination pagination-sm justify-content-end flex-wrap">
                    <li ng-class="{disabled:Pager.currentPage === 1}" class="page-item mr-1">
                        <a href="javascript:void(0);" class="page-link" ng-click="setPage(1)">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-skip-backward-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V4a.5.5 0 0 0-.5-.5z"/>
                                <path d="M.904 8.697l6.363 3.692c.54.313 1.233-.066 1.233-.697V4.308c0-.63-.692-1.01-1.233-.696L.904 7.304a.802.802 0 0 0 0 1.393z"/>
                                <path d="M8.404 8.697l6.363 3.692c.54.313 1.233-.066 1.233-.697V4.308c0-.63-.693-1.01-1.233-.696L8.404 7.304a.802.802 0 0 0 0 1.393z"/>
                            </svg>
                        </a>
                    </li>
                    <li ng-class="{disabled:Pager.currentPage === 1}" class="page-item mr-1">
                        <a href="javascript:void(0);" class="page-link" ng-click="setPage(Pager.currentPage - 1)">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                            </svg>
                        </a>
                    </li>
                    <li ng-repeat="page in Pager.pages" ng-class="{active:Pager.currentPage === page}" class="page-item mr-1">
                        <a href="javascript:void(0);" class="page-link" ng-click="setPage(page)">[{page}]</a>
                    </li>
                    <li ng-class="{disabled:Pager.currentPage === Pager.totalPages}" class="page-item mr-1">
                        <a href="javascript:void(0);" class="page-link" ng-click="setPage(Pager.currentPage + 1)">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                            </svg>
                        </a>
                    </li>
                    <li ng-class="{disabled:Pager.currentPage === Pager.totalPages}" class="page-item mr-1">
                        <a href="javascript:void(0);" class="page-link" ng-click="setPage(Pager.totalPages)">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-skip-forward-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                                <path d="M7.596 8.697l-6.363 3.692C.693 12.702 0 12.322 0 11.692V4.308c0-.63.693-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                <path d="M15.096 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.693-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!--新增帳號Modal-->
<div class="modal fade" id="AddItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增帳號</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form ng-submit="SetRegister()" class="overflow-auto">
                <div class="modal-body">
                    <div class="text-md-left text-lg-right">
                        <!--帳號資訊-->
                        <h6 class="text-left text-grey mt-2 mb-3">帳號資訊</h6>
                        <div class="form-group row">
                            <label for="AgentName" class="col-sm-4 col-lg-2 col-form-label col-form-label-sm">用戶名＊</label>
                            <div class="input-group col-sm-8 col-lg-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        </svg>
                                    </div>
                                </div>
                                <input type="text" class="d-flex h-100 form-control input-group-text text-left" id="AgentName" ng-model="RegisterData.Name" placeholder="請輸入用戶名" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="AgentAccount" class="col-sm-4 col-lg-2 col-form-label col-form-label-sm">帳號＊</label>
                            <div class="input-group col-sm-8 col-lg-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        </svg>
                                    </div>
                                </div>
                                <input type="text" class="d-flex h-100 form-control input-group-text text-left" id="AgentAccount" ng-model="RegisterData.Account" placeholder="請輸入帳號" required>
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{true: 'Error'}[PasswordError]">
                            <label for="AgentPassWD" class="col-sm-4 col-lg-2 col-form-label col-form-label-sm">密碼＊</label>
                            <div class="input-group col-sm-8 col-lg-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                                            <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                                        </svg>
                                    </div>
                                </div>
                                <input type="password" class="d-flex h-100 form-control input-group-text text-left" id="AgentPassWD" ng-model="RegisterData.Password" placeholder="請輸入密碼" ng-blur="(RegisterData.Password && RegisterData.Password.length < 8) ? PasswordError = true : PasswordError = false;" required>
                            </div>
                            <div ng-show="PasswordError" class="d-flex offset-sm-4 offset-lg-2 col-sm-8 col-lg-10 InputErrorMsg">密碼長度至少為8</div>
                        </div>
                        <div class="form-group row mb-4" ng-class="{true: 'Error'}[ConfirmPasswordError]">
                            <label for="AgentPassWDConfirm" class="col-sm-4 col-lg-2 col-form-label col-form-label-sm">密碼確認＊</label>
                            <div class="input-group col-sm-8 col-lg-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                                            <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                                        </svg>
                                    </div>
                                </div>
                                <input type="password" class="d-flex h-100 form-control input-group-text text-left" id="AgentPassWDConfirm" ng-model="CheckPassword" placeholder="密碼確認" ng-blur="((RegisterData.Password) && (CheckPassword) && (RegisterData.Password != CheckPassword)) ? ConfirmPasswordError = true : ConfirmPasswordError = false;" required>
                            </div>
                            <div ng-show="ConfirmPasswordError" class="d-flex offset-sm-4 offset-lg-2 col-sm-8 col-lg-10 InputErrorMsg">密碼確認不符</div>
                        </div>
                        <!--帳務資訊-->
                        <h6 class="text-left text-grey mt-2 mb-3">帳務資訊</h6>
                        <div class="form-group row">
                            <label for="Credit" class="col-sm-4 col-lg-2 col-form-label col-form-label-sm">信用額度＊</label>
                            <div class="input-group col-sm-8 col-lg-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-life-preserver" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
                                            <path d="M11.642 6.343L15 5v6l-3.358-1.343A3.99 3.99 0 0 0 12 8a3.99 3.99 0 0 0-.358-1.657zM9.657 4.358L11 1H5l1.343 3.358A3.985 3.985 0 0 1 8 4c.59 0 1.152.128 1.657.358zM4.358 6.343L1 5v6l3.358-1.343A3.985 3.985 0 0 1 4 8c0-.59.128-1.152.358-1.657zm1.985 5.299L5 15h6l-1.343-3.358A3.984 3.984 0 0 1 8 12a3.99 3.99 0 0 1-1.657-.358z"/>
                                        </svg>
                                    </div>
                                </div>
                                <input type="text" numbers-only class="d-flex h-100 form-control input-group-text text-left" id="Credit" ng-model="RegisterData.Credit" placeholder="請輸入信用額度" required>
                                <div class="input-group-append">
                                    <div class="input-group-icon">
                                        元
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--其他資訊-->
                        <h6 class="text-left text-grey mt-2 mb-3">其他資訊</h6>
                        <div class="form-group row">
                            <label for="Remark" class="col-sm-4 col-lg-2 col-form-label col-form-label-sm">備註</label>
                            <div class="input-group col-sm-8 col-lg-8">
                                <textarea class="d-flex h-100 form-control input-group-textarea text-left" rows="4" id="Remark" ng-model="RegisterData.Remark"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="submit" class="btn btn-submit">送出</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!--修改資料Modal-->
<div class="modal fade" id="ModifyItem" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    修改資料
                    <i class="fas fa-caret-right mx-2"></i>
                    [{ModifyData.account}]
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form ng-submit="SetModifyData()" class="overflow-auto">
                <div class="modal-body">
                    <div class="text-md-left text-lg-right">
                        <!--帳號資訊-->
                        <h6 class="text-left text-grey mt-2 mb-3">帳號資訊</h6>
                        <div class="form-group row">
                            <label for="AgentName" class="col-sm-4 col-lg-2 col-form-label col-form-label-sm">用戶名</label>
                            <div class="input-group col-sm-8 col-lg-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        </svg>
                                    </div>
                                </div>
                                <input type="text" class="d-flex h-100 form-control input-group-text text-left" ng-model="ModifyData.name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="AgentAccount" class="col-sm-4 col-lg-2 col-form-label col-form-label-sm">帳號</label>
                            <div class="input-group col-sm-8 col-lg-4">
                                <input type="text" class="d-flex h-100 form-control input-group-text text-left px-0 py-1" ng-model="ModifyData.account" readonly>
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{true: 'Error'}[PasswordError]">
                            <label for="AgentPassWD" class="col-sm-4 col-lg-2 col-form-label col-form-label-sm">密碼</label>
                            <div class="input-group col-sm-8 col-lg-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                                            <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                                        </svg>
                                    </div>
                                </div>
                                <input type="password" class="d-flex h-100 form-control input-group-text text-left" ng-model="ModifyData.Password" placeholder="請輸入新密碼" ng-blur="(ModifyData.Password && ModifyData.Password.length < 8) ? ModifyPasswordError = true : ModifyPasswordError = false;">
                            </div>
                            <div ng-show="ModifyPasswordError" class="d-flex offset-sm-4 offset-lg-2 col-sm-8 col-lg-10 InputErrorMsg">密碼長度至少為8</div>
                        </div>
                        <div class="form-group row mb-4" ng-class="{true: 'Error'}[ConfirmPasswordError]">
                            <label for="AgentPassWDConfirm" class="col-sm-4 col-lg-2 col-form-label col-form-label-sm">密碼確認</label>
                            <div class="input-group col-sm-8 col-lg-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-icon">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                                            <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                                        </svg>
                                    </div>
                                </div>
                                <input type="password" class="d-flex h-100 form-control input-group-text text-left" ng-model="ModifyData.CheckPassword" placeholder="密碼確認" ng-blur="((ModifyData.Password) && (ModifyData.CheckPassword) && (ModifyData.Password != ModifyData.CheckPassword)) ? ModifyConfirmPasswordError = true : ModifyConfirmPasswordError = false;">
                            </div>
                            <div ng-show="ModifyConfirmPasswordError" class="d-flex offset-sm-4 offset-lg-2 col-sm-8 col-lg-10 InputErrorMsg">密碼確認不符</div>
                        </div>
                        <!--帳務資訊-->
                        <h6 class="text-left text-grey mt-2 mb-3">帳務資訊</h6>
                        <div class="form-group row">
                            <label for="Credit" class="col-sm-4 col-lg-2 col-form-label col-form-label-sm">信用額度</label>
                            <div class="input-group col-sm-8 col-lg-4">
                                <input type="text" numbers-only class="d-flex h-100 form-control input-group-text text-left px-0 py-1" ng-model="ModifyData.balance" readonly>
                                <div class="input-group-append">
                                    <div class="input-group-icon bg-transparent border-0">
                                        元
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--其他資訊-->
                        <h6 class="text-left text-grey mt-2 mb-3">其他資訊</h6>
                        <div class="form-group row">
                            <label for="Remark" class="col-sm-4 col-lg-2 col-form-label col-form-label-sm">備註</label>
                            <div class="input-group col-sm-8 col-lg-8">
                                <textarea class="d-flex h-100 form-control input-group-textarea text-left" rows="4" ng-model="ModifyData.Remark"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="submit" class="btn btn-submit">送出</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
            </form>
        </div>
    </div>
</div>